body {
  font-family: "Montserrat", sans-serif;

}

p {
    color: #8f8f8f;
    font-weight: bold;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.myH1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

.feature-h3 {
    font-family: "montserrat", sans-serif;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 8%;
}

/* navigation bar */
.navbar {
    padding-bottom: 4.5rem;

}
.navbar-brand {
    font-family: "ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item{
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: light;
}


/* Download Buttons */

.title-btn {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
}

/* features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */

}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.testimonial-image {
    /* circular shape image */
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;

}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-images {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
    font-weight: bold;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 992px) {
    #title {
        text-align: center;
    }
    .title-img {
        width: 25%;
        position: static;
        transform: rotate(0deg);
    }
}


/* call to action */
#cta {
    color: #fff;
    background-color: #ef8172;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 3% 0;
}

/* footer  */
#footer {
    text-align: center;
    padding: 2% 0;
    background-color: #fff;
}

.footer-brands {
    padding-left: 0.6%;
    padding-right: 0.6%;
    text-align: center;
}